<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/common/head', { 'title': 'Buzzle: Registration' }) %>
    </head>
    <body>
        <%- include('partials/header', { 'showUserToolbar': false }) %>
        <main class="container">
            <%- include('partials/error') %>
            <%- include('partials/register-form') %>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
