<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Buzzle</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Buzzle</h1>
        <ul class="user-toolbar">
            <% if (!session.authorized) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            <% } else { %>
                <%= session.login %>
                <form method="POST" action="/logout" style="display:inline">
                    <input type="submit" value="logout">
                </form>
            <% } %>
        </ul>
    </header>
    <main>
        <% if (session.authorized) { %>
            <% if (session.error) { %>
                <section class="error">
                    <p><%= session.error %></p>
                    <% session.error = undefined %>
                </section>
            <%  } %>
            <form action="/message/create" method="POST">
                <label>
                    What’s on your mind?<br>
                    <input type="text" name="content">
                </label>
                <input type="submit" value="Buzz">
            </form>
        <% } %>
        <ul class="messages">
            <% for (const message of messages) { %>
                <li class="message">
                    <p class="login">@<%= message.user.login %></p>
                    <p class="content"><%= message.content %></p>
                    <p class=="creation-date"><%= moment(message.createdAt).format('lll') %></p>
                    <% if (session.administrator || session.userID === message.user.id) { %>
                        <form method="GET" action="/message/<%= message.id %>/edit" style="display:inline">
                            <input type="submit" value="Edit">
                        </form>
                        <form method="POST" action="/message/<%= message.id %>/delete" style="display:inline">
                            <input type="submit" value="Delete">
                        </form>
                    <% } %>
                </li>
            <% } %>
        </ul>
    </main>
</body>
</html>
