<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', { 'title': 'Buzzle' }) %>
    </head>
    <body>
        <%- include('partials/header', { 'showUserToolbar': true }) %>
        <main class="container">
            <%- include('partials/error-row') %>
            <%- include('partials/message-form-row') %>
            <%- include('partials/messages-row') %>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
