<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', { 'title': 'Buzzle: Login' }) %>
    </head>
    <body>
        <%- include('partials/header', { 'showUserToolbar': false }) %>
        <main class="container">
            <%- include('partials/error-row') %>
            <%- include('partials/login-form-row') %>
        </main>
        <%- include('partials/footer') %>
    </body>
</html>
